In [4]:
titanic_df.groupby('pclass').mean()

        survived        age     sibsp     parch       fare        body
pclass
1       0.619195  39.159918  0.436533  0.365325  87.508992  162.828571
2       0.429603  29.506705  0.393502  0.368231  21.179196  167.387097
3       0.255289  24.816367  0.568406  0.400564  13.302889  155.818182